/* You can add global styles to this file, and also import other style files */
body {
    color: #000;
}

.search-form {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.2);
    padding: 10px;
}
.search-result-list {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.2);
    margin: 10px 0 0 0;
    background: #fff;
    padding: 10px 0px;
    overflow: auto;
}